<html>
    <head>
        <title>Anjan's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Anjan's Blog</a></h1>
        </div>

        <div>
            <p>published: 28.01.2019</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello everyonr this is my first blog post</p>
        </div>

        <div>
            <p>published: 28.01.2019</p>
            <h2><a href="">My second post</a></h2>
            <p>Hello everyone this is my second post</p>
        </div>
    </body>
</html>